body {
    background-color: beige;
}
h2{
    font-family: "Outfit", serif;
    text-align: center;
}
ul{
    padding: 10px;
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
}
header {
    text-align: center;
    background: url("images/catHeader.jpeg");
    background-size: cover;
    padding: 20px 0px 0px 0px;
    color: pink;
}
h1{
    font-size: 55px;
}
#header-pic {
    margin: 40px 0px 0px 0px;
    border: 10px;
    border-color: black;
}